@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #3a63ed;
  --secondary: rgba(0, 0, 0, 0.04);
  --tertiary: rgba(0, 0, 0, 0.12);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito), sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

